table {
  width: 100%;
}

.page-header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-column-status {
  font-style: italic;
}

.mat-column-id {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.row-selected {
  font-weight: bold;
}

.details-card {
  margin-top: 16px;
  padding: 1em;
  background-color: aliceblue;
}
